.header {
  grid-area: head;
  background-color: $color-grey-light-1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    margin-left: 4rem;
    height: 4.6rem;
    display: block;
  }
}

.search {
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s;

  &:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba($color-grey-dark-1, 0.08);
  }

  &__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 30rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-grey-light-3;
    }

    @media only screen and (max-width: $bp-medium) {
      width: auto;

      &::placeholder {
        color: white;
      }
    }
  }

  &__btn {
    font-weight: 600;
    font-family: inherit;
  }
}

.nav {
  align-self: stretch;
  margin-right: 2.5rem;

  &__list {
    list-style: none;
    display: flex;
    height: 100%;
  }

  &__item {
    position: relative;
  }

  &__btn {
    height: 100%;
    font-family: inherit;
    color: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 1.5rem;
    transition: all 0.3s;

    display: flex;
    align-items: center;

    svg {
      height: 2.4rem;
      width: 2.4rem;
      fill: $color-primary;
      margin-right: 0.7rem;
      transform: translateY(-1px);
    }

    svg:chi &:focus {
      outline: none;
    }

    &:hover {
      background-color: $color-grey-light-2;
    }
  }
}

.bookmarks {
  padding: 1rem 0;
  position: absolute;
  // right: 0;
  right: -2.5rem;
  z-index: 10;
  width: 40rem;
  background-color: #fff;
  box-shadow: 0 0.8rem 5rem 2rem rgba($color-grey-dark-1, 0.1);

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;

  &__list {
    list-style: none;
  }

  &__field {
    cursor: pointer;
    padding: 0 4rem;

    display: flex;
    align-items: center;
    height: 100%;
    transition: all 0.3s;

    &:hover {
      background-color: $color-grey-light-2;
    }
  }

  &:hover,
  .nav__btn--bookmarks:hover + & {
    visibility: visible;
    opacity: 1;
  }
}

.shopping {
  padding: 3rem 4rem;
  position: absolute;
  // right: 0;
  right: -2.5rem;
  z-index: 10;
  width: 30rem;
  background-color: #fff;
  box-shadow: 0 0.8rem 5rem 2rem rgba($color-grey-dark-1, 0.1);

  // visibility: hidden;
  // opacity: 0;
  transition: all 0.5s 0.2s;

  &:hover,
  .nav__btn--shopping:hover + & {
    visibility: visible;
    opacity: 1;
  }

  &__list {
    list-style: none;
  }

  &__recipe {
  }

  &__recipe-title {
    font-size: 1.45rem;
    // margin-left: 1rem;
    color: $color-primary;
    text-transform: uppercase;
    font-weight: 600;
  }

  &__link {
    &:link,
    &:visited {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: min-content auto;
      column-gap: 2rem;
      align-items: start;
      justify-content: center;
      padding: 1.5rem 3rem;
      transition: all 0.3s;
      border-right: 1px solid #fff;
      text-decoration: none;
      color: $color-primary;
    }

    &:hover {
      background-color: $color-grey-light-1;
      transform: translateY(-2px);
    }

    &--active {
      background-color: $color-grey-light-1;
    }
  }

  &__ingredients {
    display: grid;
    grid-template-columns: 1fr 3fr;
    // justify-content: space-around;
  }

  h3 {
    justify-self: start;
    font-size: 1.2rem;
    color: $color-grey-dark-1;
  }

  &__list {
  }

  &__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-grey-light-2;
    padding: 1.3rem 0;
    // text-decoration: none;
    // list-style: none;
    // &:hover {
    //   background-color: $color-grey-light-1;
    //   transform: translateY(-2px);
    // }

    // &--active {
    //   background-color: $color-grey-light-1;
    // }

    &:hover button {
      visibility: visible;
      opacity: 1;
    }
  }

  &__count {
    // width: 10rem;
    flex: 0 0 8rem;
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 0.5rem;
    border: 1px solid $color-grey-light-2;
    border-radius: 3px;
    font-size: 1.2rem;
    color: inherit;
    cursor: pointer;

    input {
      font-size: 1.2rem;
      text-align: center;
      border: none;
      width: 3.8rem;
      border-radius: 3px;
      // margin-right: 1.5rem;
    }

    input:focus {
      border: none;
      outline: none;
      background-color: $color-grey-light-2;
    }

    input:focus-visible {
      border: none;
      outline: none;
    }
  }

  &__description {
    margin-left: 2rem;
    flex: 1;
    font-size: 1.3rem;
  }

  &__delete {
    height: 1.75rem;
    width: 1.75rem;
    border: none;
    background-color: transparent;
    cursor: pointer;

    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;

    svg {
      width: 100%;
      height: 100%;
      fill: $color-primary;
    }
  }
}
